<link rel="stylesheet" href="/assets/css/footer_style.css" type="text/css" />
<footer class="footer">
    <div class="footerContent">
        <div class="copyContainer">
            &copy; Copyright 2017 John Price
        </div>
    </div>
</footer>