<link rel="stylesheet" href="/assets/css/nav_style.css" type="text/css" />
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> 
                <span class="myNavLink">John Price</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a id="aboutLink" href="/about">
                        <span class="myNavLink">About</span>
                    </a>
                </li>
                <li>
                    <a id="portfolioLink" href="/portfolio">
                        <span class="myNavLink">Portfolio</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>