{{> mynav}}
<link rel="stylesheet" href="/assets/css/index_style.css" type="text/css" />
<div id="carouselContainer">
    <div id="myImageBannerContainer" class="imageBannerContainer">
    </div>
</div>
<div class="container mainCont">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-header">
                                <h2>
                                    About Me
                                </h2>
                            </div>
                        </div>
                    </div> <!-- first row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail portraitImg">
                                <img class="img-responsive img-rounded" src="assets/images/john.jpg" alt="Picture of Me">
                            </div>
                            <p>
                                Hi there! Welcome to my personal website. Thank you for being here.
                            </p>
                            <p>
                                I'm a software developer from the Charlotte, NC area who loves tackling challenging problems.
                                Seriously, I forget to eat when I'm coding sometimes. Writing code is something that I love
                                to do and I'm always interested in exploring exciting and new technology. I received my B.S. in Computer Science from Wake Forest
                                University in May of 2015 and I've been learning new things ever since.
                            </p>
                            <p>
                                Although software development is fun and all, I do have other hobbies.
                                I like reading, running, and breakdancing. If you ever see me dancing in public,
                                it's not my twin brother (I promise).
                            </p>
                        </div>
                    </div> <!-- second row -->
                </div> <!-- panel body -->
            </div> <!-- panel default -->
        </div> <!-- col 8 -->
        {{> myconnect}}
    </div> <!-- row -->
</div> <!-- container -->

{{> myfooter}}
<script src="/assets/javascript/index.js"></script>