{{> mynav}}
<link rel="stylesheet" href="/assets/css/portfolio_style.css" type="text/css" />
<div class="container mainCont">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-header">
                                <h2>
                                    Some of my Work
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Cute Pocket Monsters!
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/pokemon.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Star Wars RPG
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/rpg.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Friend Finder
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/friends.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Eat Da Burger!
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/burger.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Star Wars Trivia
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/trivia.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Star Wars Hangman
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/hangman.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <div class="container-fluid work">
                                <div class="container-fluid">
                                    <h3>
                                        Giftastic!
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-5 pictureDiv">
                                    <div class="myThumb">
                                        <img class="img-responsive img-rounded" src="assets/images/thumbs/giftastic.jpg" alt="Picture of Me">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 infoDiv">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus omnis molestias itaque dolor suscipit voluptatem. Itaque, assumenda? Cupiditate temporibus placeat soluta eveniet alias quaerat nam deleniti id saepe dignissimos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div> <!-- col 8 -->
        {{> myconnect}}
    </div>
</div>
{{> myfooter}}