{{> mynav}}
<link rel="stylesheet" href="/assets/css/portfolio_style.css" type="text/css" />
<div class="container mainCont">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-header">
                                <h2>
                                    Some of my Work
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://cute-pocket-monsters.herokuapp.com/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Cute Pocket Monsters!
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/pokemon.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            Find which Pokemon match your personality! Take the survey and find other trainers with similar Pokemon.
                                        </p>
                                        <p>
                                            This is a node.js website that is hosted on Heroku. We used MySQL to persist our data and Express to handle routing. Sequelize was utlized as our ORMS.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://jcprice12.github.io/week-4-game/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Star Wars RPG
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/rpg.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            A completely front-end application. Choose your character from the Star Wars Universe and fight to survive!
                                        </p>
                                        <p>
                                            jQuery is used extensively along with plain old JavaScript. Game information is relayed to the user via a custom message-box system that I created.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://pure-temple-61292.herokuapp.com/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Friend Finder
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/friends.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            Take a survey to find similar people. Check out the API as well in order to retrieve information from the site in JSON.
                                        </p>
                                        <p>
                                            Data is persisted via MySQL and express handles the HTML and API routes. Bootstrap provides a responsive front-end for mobile devices.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://whispering-reaches-17405.herokuapp.com/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Eat Da Burger!
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/burger.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                              Yes it's a little silly, but check it out! Craft a burger with toppings and add a note! Burgers and Toppings exist as a many-to-many relationship in my MySQL database. Bootstrap was used in order to ensure a user-friendly mobile experience.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://jcprice12.github.io/TriviaGame/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Star Wars Trivia
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/trivia.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            How much Star Wars Trivia do you know? Check out this front-end application that uses timers and jQuery in order to deliver a fun trivia game.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://jcprice12.github.io/Hangman-Game/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Star Wars Hangman
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/hangman.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            Type letters on your keyboard in order to guess your favorite Star Wars Character before Darth Vader defeats you.
                                        </p>
                                        <p>
                                            The difficulty of the game can be increased in order to provide a greater challenge. Every incorrect guess speeds up the timer.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row myRow">
                        <div class="container-fluid">
                            <a href="https://jcprice12.github.io/GifTastic/" class="nostyle">
                                <div class="container-fluid work">
                                    <div class="container-fluid">
                                        <h3>
                                            Giftastic!
                                        </h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pictureDiv">
                                        <div class="myThumb">
                                            <img class="img-responsive img-rounded" src="assets/images/thumbs/giftastic.jpg" alt="Picture of Me">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 infoDiv">
                                        <p>
                                            In this web app, I hit the Giphy API in order to retrieve and display GIFs. Users can search for other types of GIFs from the Giphy API via the search form.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div> <!-- col 8 -->
        {{> myconnect}}
    </div>
</div>
{{> myfooter}}