body{
    padding-bottom: 52px;
}

.footer {
    z-index: 99;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2f2f2f;
}
  
.footerContent{
    position:absolute;
    width:100%;
    height:100%;
    display:table;
    border-top: 2px solid #9E7E38;
}
  
.copyContainer{
    display:table-cell;
    vertical-align: middle;
    color:#f2f2f2;
    font-size: 14px;
    text-align: center;
}