/*
    elements
*/
html{
    position: relative;
    min-height: 100%;
}
body{
    background: url("/assets/images/black_lozenge.png");
    color: #2f2f2f;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
    height:100% !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: Georgia, Times, "Times New Roman", serif;
	color:#9E7E38 !important;
}
h3{
	font-size: 20px !important;
}

/*
    My stuff
*/
.mainCont{
    margin-top: 10px;
}

.thumbnail{
	margin-bottom: 0px;
	border: none;
}

#carouselContainer{
    position:relative;
    left:0;
    right:0;
    width:100%;
    height:250px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

.imageBannerContainer{
    position:relative;
    left:0;
    right:0;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

.imageBanner{
    position:relative;
    float:left;
    min-height:100%;
}